// src/assets/styles/global.scss

// Import Fonts and Variables
@import "./fonts";
@import "./variables";

// Reset Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global Body Style
body {
    font-family: $primary-font;
    font-weight: $font-regular;
    font-size: $font-size-body;
    background: $light-color;
    color: $primary-color;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: $transition;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    font-family: $secondary-font;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

button,
input,
select,
textarea {
    border: 0;
    outline: 0;
    background: none;
}
